<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Crear nuevo proyecto</title>
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <p>CMMImplant</p>
      </div>
      <div class="navbar-button">
        <span class="material-icons">home</span>
        <a href="/index">Inicio</a>
      </div>
      <div class="navbar-button">
        <span class="material-icons">track_changes</span>
        <a href="/tracking">Seguimiento</a>
      </div>
      <div class="navbar-button">
        <span class="material-icons">search</span>
        <a href="/revision">Revisión</a>
      </div>
      <div class="navbar-button-active">
        <span class="material-icons">work</span>
        <a href="/project/all">Proyecto</a>
      </div>
    </div>
    <div class="navbar-right">
      <div class="navbar-register">
        <span class="material-icons">person_add</span>
        <a href="/user/registration">Registrarse</a>
      </div>
    </div>
  </div>
  <div class="form-container">
    <form method="POST" class="form-signin" th:object="${projectForm}" th:action="@{/project/add}">
      <h2 th:if="${id == null}" class="form-signin-heading">Crear un nuevo proyecto</h2>
      <h2 th:if="${id != null}" class="form-signin-heading">Editar el proyecto</h2>
      <input type="hidden" th:field="*{id}" id="id" class="form-control" placeholder="Id"/>
      <div class="form-group">
        <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Nombre"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
      <div class="form-group">
        <select th:field="*{projectType}" class="form-control" placeholder="Tipo de proyecto">
          <option value="0">Tipo de proyecto</option>
          <option th:value="WATERFALL" th:text="'En cascada'"></option>
          <option th:value="AGILE" th:text="Ágil"></option>
        </select>
        <span class="has-error" th:if="${#fields.hasErrors('projectType')}" th:errors="*{projectType}"></span>
      </div>
      <div class="form-group">
        <input type="date" th:field="*{startDate}" class="form-control" placeholder="Fecha de inicio (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
      </div>
      <div class="form-group">
        <input type="date" th:field="*{endDate}" class="form-control" placeholder="Fecha de fin (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
      </div>
      <button th:if="${id == null}" type="submit">Crear</button>
      <button th:if="${id != null}" type="submit">Editar</button>
    </form>
    <button onclick="window.history.back()">Volver</button>
  </div>
  <div class="footer">
    <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

  </body>
</html>