<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Crear nuevo proyecto</title>
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <p>CMMImplant</p>
      </div>
      <div class="navbar-button">
        <span class="material-icons">home</span>
        <a href="/index">Inicio</a>
      </div>
      <div class="navbar-button">
        <span class="material-icons">track_changes</span>
        <a href="/tracking">Seguimiento</a>
      </div>
      <div class="navbar-button">
        <span class="material-icons">search</span>
        <a href="/revision">Revisión</a>
      </div>
      <div class="navbar-button-active">
        <span class="material-icons">work</span>
        <a href="/project/all">Proyecto</a>
      </div>
    </div>
    <div class="navbar-right">
      <div class="navbar-register">
        <span class="material-icons">person_add</span>
        <a href="/user/registration">Registrarse</a>
      </div>
    </div>
  </div>
  <button class="button-back" onclick="window.history.back()"><span class="material-icons">arrow_back</span>&nbsp;Volver atrás</button>
  <div class="form-container">
    <form method="POST" class="form-signin" th:object="${result}" th:action="@{/improvement/add}">
      <h2 th:if="${id == null}" class="form-signin-heading">Crear una nueva mejora</h2>
      <h2 th:if="${id != null}" class="form-signin-heading">Editar la mejora</h2>
      <input type="hidden" th:field="*{id}" id="id" class="form-control" placeholder="Id"/>
      <input type="hidden" th:field="*{project}" id="project" class="form-control" placeholder="Project"/>
      <input type="hidden" th:field="*{priority}" id="priority" class="form-control" placeholder="Priority"/>
      <div class="form-group">
        <input type="text" th:field="*{identifier}" id="identifier" class="form-control" placeholder="Identificador"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}"></span>
      </div>
      <div class="form-group">
        <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="Título"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
      </div>
      <div class="form-group">
        <input type="text" th:field="*{description}" id="description" class="form-control" placeholder="Descripción"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
      </div>
      <div class="form-group">
        <select th:field="*{status}" class="form-control" placeholder="Estado">
          <option value="0">Estado</option>
          <option th:value="RECEIVED" th:text="Recibida"></option>
          <option th:value="APPROVED" th:text="Aprobada"></option>
          <option th:value="DENIED" th:text="Denegada"></option>
          <option th:value="DOING" th:text="'En curso'"></option>
          <option th:value="FINISHED" th:text="Finalizada"></option>
          <option th:value="EVALUATED" th:text="Evaluada"></option>
        </select>
        <span class="has-error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
      </div>
      <div class="form-group">
        <select th:field="*{impact}" class="form-control" placeholder="Impacto">
          <option value="0">Impacto</option>
          <option th:value="HIGH" th:text="'Alta'"></option>
          <option th:value="MID" th:text="Media"></option>
          <option th:value="LOW" th:text="Baja"></option>
        </select>
        <span class="has-error" th:if="${#fields.hasErrors('impact')}" th:errors="*{impact}"></span>
      </div>
      <div class="form-group">
        <input type="number" th:field="*{percentage}" id="percentage" class="form-control" placeholder="Porcentaje"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('percentage')}" th:errors="*{percentage}"></span>
      </div>
      <div class="form-group">
        <input type="text" th:field="*{estimatedEffort}" id="estimatedEffort" class="form-control" placeholder="Esfuerzo estimado"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('estimatedEffort')}" th:errors="*{estimatedEffort}"></span>
      </div>
      <div class="form-group">
        <input type="text" th:field="*{realEffort}" id="realEffort" class="form-control" placeholder="Esfuerzo real"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('realEffort')}" th:errors="*{realEffort}"></span>
      </div>
      <p class="form-date">Fecha de recepción:</p>
      <div class="form-group">
        <input type="date" th:field="*{receptionDate}" class="form-control" placeholder="Fecha de recepción (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('receptionDate')}" th:errors="*{receptionDate}"></span>
      </div>
      <p class="form-date">Fecha de aprobación:</p>
      <div class="form-group">
        <input type="date" th:field="*{approvalDate}" class="form-control" placeholder="Fecha de aprobación (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('approvalDate')}" th:errors="*{approvalDate}"></span>
      </div>
      <p class="form-date">Fecha de implantación estimada:</p>
      <div class="form-group">
        <input type="date" th:field="*{estimatedImplementation}" class="form-control" placeholder="Implantación estimada (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('estimatedImplementation')}" th:errors="*{estimatedImplementation}"></span>
      </div>
      <p class="form-date">Fecha de implantación real:</p>
      <div class="form-group">
        <input type="date" th:field="*{realImplementation}" class="form-control" placeholder="Implantación real (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('realImplementation')}" th:errors="*{realImplementation}"></span>
      </div>
      <p class="form-date">Fecha de evaluación:</p>
      <div class="form-group">
        <input type="date" th:field="*{evaluationDate}" class="form-control" placeholder="Fecha de evaluación (dd/mm/aaaa)">
        <span class="has-error" th:if="${#fields.hasErrors('evaluationDate')}" th:errors="*{evaluationDate}"></span>
      </div>
      <div class="form-group">
        <input type="number" th:field="*{score}" id="score" class="form-control" placeholder="Puntuación"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('score')}" th:errors="*{score}"></span>
      </div>
      <div class="form-group">
        <input type="text" th:field="*{observations}" id="observations" class="form-control" placeholder="Observaciones"
               autofocus="true">
        <span class="has-error" th:if="${#fields.hasErrors('observations')}" th:errors="*{observations}"></span>
      </div>
      <button class="button-submit" th:if="${id == null}" type="submit"><span class="material-icons">add</span>&nbsp;Crear</button>
      <button class="button-submit" th:if="${id != null}" type="submit">Editar</button>
    </form>
  </div>
  <div class="footer">
    <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

  </body>
</html>