<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio de sesión</title>
        <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-left">
            <div class="navbar-logo">
                <p>CMMImplant</p>
            </div>
            <div class="navbar-button-active">
                <span class="material-icons">home</span>
                <a href="/index">Inicio</a>
            </div>
            <div class="subnav">
                <span class="material-icons">track_changes</span>
                <button class="subnavbtn">Seguimiento <i class="fa fa-caret-down>"></i></button>
                <div class="subnav-content">
                    <a href="/riskAndOpportunity/list">Riesgos y oportunidades</a>
                    <a href="/improvement/list">Mejoras</a>
                    <a href="/lessonLearnt/list">Lecciones aprendidas</a>
                    <a href="/alert/list">Alertas</a>
                </div>
            </div>
            <div class="subnav">
                <span class="material-icons">search</span>
                <button class="subnavbtn">Revisión <i class="fa fa-caret-down>"></i></button>
                <div class="subnav-content">
                    <a href="/analysis/list">Análisis</a>
                    <a href="/audit/list">Auditorías</a>
                    <a href="/metric/list">Métricas</a>
                </div>
            </div>
            <div class="subnav">
                <span class="material-icons">work</span>
                <button class="subnavbtn">Proyecto <i class="fa fa-caret-down>"></i></button>
                <div class="subnav-content">
                    <a href="/project/current" sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_PM')">Mi proyecto</a>
                    <a href="/adaptation/list">Adaptaciones</a>
                    <a href="/document/list">Documentos</a>
                    <a href="/reusableObject/list">Objetos reutilizables</a>
                </div>
            </div>
            <div class="subnav" sec:authorize="hasRole('ROLE_ADMIN')">
                <span class="material-icons">settings</span>
                <button class="subnavbtn">Administración <i class="fa fa-caret-down>"></i></button>
                <div class="subnav-content">
                    <a href="/project/all">Proyectos</a>
                    <a href="/user/list">Usuarios</a>
                </div>
            </div>
        </div>
        <div class="navbar-right" sec:authorize="isAnonymous()">
            <div class="navbar-register">
                <span class="material-icons">person</span>
                <a href="/user/login">Iniciar sesión</a>
            </div>
        </div>
        <div class="navbar-register" sec:authorize="isAuthenticated()">
            <span class="material-icons">person</span>
            <a href="javascript: document.logoutForm.submit()" role="menuitem"> Cerrar sesión</a>
        </div>
    </div>
        <div class="content">
            <div class="form-container">
                <form class="form-signin" method="POST" th:action="@{/login}">
                    <h2 class="form-signin-heading">Inicio de sesión</h2>
                    <span th:text="${message}"></span>
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Usuario"
                               autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Contraseña"/>
                        <span class="has-error" th:text="${error}"></span>
                    </div>
                    <button class="button-submit" type="submit">Entrar</button>
                </form>
            </div>
        </div>
        <div class="footer">
            <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
        </div>
    </body>
</html>