<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Inicio de sesión</title>
        <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-logo">
                    <p>CMMImplant</p>
                </div>
                <div class="navbar-button-active">
                    <span class="material-icons">home</span>
                    <a href="/index">Inicio</a>
                </div>
                <div class="navbar-button">
                    <span class="material-icons">track_changes</span>
                    <a href="/tracking">Seguimiento</a>
                </div>
                <div class="navbar-button">
                    <span class="material-icons">search</span>
                    <a href="/revision">Revisión</a>
                </div>
                <div class="navbar-button">
                    <span class="material-icons">work</span>
                    <a href="/project/all">Proyecto</a>
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-register">
                    <span class="material-icons">person</span>
                    <a href="/user/login">Iniciar sesión</a>
                </div>
            </div>
        </div>
        <div class="form-container">
            <form class="form-signin" method="POST" th:action="@{/login}">
              <h2 class="form-signin-heading">Inicio de sesión</h2>
              <span th:text="${message}"></span>
              <div class="form-group">
                  <input name="username" type="text" class="form-control" placeholder="Usuario"
                         autofocus="true"/>
              </div>
              <div class="form-group">
                  <input name="password" type="password" class="form-control" placeholder="Contraseña"/>
                  <span class="has-error" th:text="${error}"></span>
              </div>
              <button class="button-submit" type="submit">Entrar</button>
            </form>
          </div>
        <div class="footer">
            <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
        </div>
    </body>
</html>