body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.info-text {
  font-size: 18px;
  text-align: justify;
  margin: 3.5% 12%;
}

/* Add the background color to the navbar */
.navbar {
    color: #B85600;
    display: flex;
    flex-direction: row;
    background-color: #FFAB60;
    overflow: hidden;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .navbar-button {
    color: #B85600;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
  }
  
  .navbar-button-active {
    color: white;
    background-color: #B85600;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
  }
  

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    padding: 30px 4px;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #B85600;
    color: white;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-register {
    display: flex;
    align-items: center;
    margin: 0;
    color: #FFFFFF;
    margin-right: 60px;
    background-color: #376DBE;
    height: 50px;
    padding: 0px 10px;
    border-radius: 10px;
  }

  .navbar-logo {
    text-align: center;
    align-items: center;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 24px;
    font-weight: 800;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }

  .form-signin-heading {
    text-align: center;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
      margin-bottom: 20px;
  }

  .form-signin input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #646464;
    border-radius: 4px;
  }

  .form-signin .form-control:focus {
    transform: translate(0px, -2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border: 0;
    border: 2px solid #376DBE;
  }

  .form-signin button {
    margin-top: 10px;
  }

  .form-group {
    margin-top: 10px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
  }

  .footer p {
    padding-left: 20px;
    margin: 10px;
    font-size: 14px;
  }

  .has-error {
    color: red
  }

  .button-submit {
    color: white;
    background-color: #376DBE;
    font-size: 18px;
    border-radius:6px;
    width: 80px;
    height: 40px;
    border: 0;
  }

  .button-submit:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .button-create {
    color: white;
    background-color: #376DBE;
    font-size: 22px;
    border-radius:10px;
    border: 0;
    padding: 6px 20px;
    text-decoration: none;
    margin-left: 40px;
  }

  .button-create:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .list {
    text-align: center;
    border-spacing: 0 30px;
    margin-bottom: 20px;
  }

  .list th {
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .list td {
  }

  .list-see {
    color: #FFFFFF;
    background-color: #376DBE;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }

  .list-edit {
    color: #FFFFFF;
    background-color: #00D6A1;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }

  .list-remove {
    color: #FFFFFF;
    background-color: #DB6257;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }