body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.content {
  padding-top: 7em;
  padding-bottom: 7em;
}

.info-text {
  font-size: 18px;
  text-align: justify;
  margin: 3.5% 12%;
}

.navbar {
    display: flex;
    float: left;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    color: #B85600;
    background-color: #FFAB60;
    width: 100%;
    top: 0;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    z-index: 3;
  }

  .navbar-button {
    color: #B85600;
    display: flex;
    align-items: center;
    padding: 0px 14px;
  }

  .subnav {
    display: flex;
    overflow: hidden;
    float: left;
    color: #B85600;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
  }

  .subnav-active {
    display: flex;
    overflow: hidden;
    float: left;
    color: white;
    background-color: #B85600;
    flex-direction: row;
    align-items: center;
    padding: 0px 14px;
  }

  .subnav .subnavbtn {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #B85600;
    padding: 30px 4px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .subnav-active .subnavbtn {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
    padding: 30px 4px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar-button-active {
    color: white;
    background-color: #B85600;
    display: flex;
    align-items: center;
    padding: 0px 14px;
  }

  .navbar a {
    display: flex;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    padding: 30px 4px;
  }

  .navbar a.active {
    background-color: #B85600;
    color: white;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-register {
    display: flex;
    float: right;
    align-items: center;
    margin: 0;
    color: #FFFFFF;
    margin-right: 60px;
    background-color: #376DBE;
    height: 50px;
    padding: 0px 10px;
    border-radius: 10px;
  }

  .navbar-logo {
    text-align: center;
    align-items: center;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 24px;
    font-weight: 800;
  }

  .subnav-content {
    display: none;
    position: relative;
    color: #FFFFFF;
    background-color: #B85600;
    width: 100%;
  }

  .subnav-content a {
    color: inherit;
    text-decoration: none;
    padding: 30px 10px;
  }

  .subnav-content a:hover {
    display: block;
    position: relative;
    background-color: #376DBE;
    color: #FFFFFF;
  }

  .subnav:hover .subnav-content {
    display: flex;
  }

  .subnav-active:hover .subnav-content {
    display: flex;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }

  .form-signin-heading {
    text-align: center;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
      margin-bottom: 20px;
  }

  .form-signin input {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #646464;
    border-radius: 4px;
  }

  .form-signin .form-control:focus {
    transform: translate(0px, -2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border: 0;
    border: 2px solid #376DBE;
  }

  .form-signin button {
    margin-top: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .form-date {
    margin: 10px 0 0 0;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
  }

  .footer p {
    padding-left: 20px;
    margin: 10px;
    font-size: 14px;
  }

  .has-error {
    color: red
  }

  .button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #376DBE;
    font-size: 18px;
    border-radius:6px;
    padding: 10px 10px;
    border: 0;
  }

  .button-submit:hover {
    transform: translate(0px, -2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #376DBE;
    max-width: fit-content;
    width: auto;
    font-size: 20px;
    border-radius:10px;
    border: 0;
    padding: 6px 20px;
    text-decoration: none;
    margin-left: 40px;
  }

  .button-create:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }

  .button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    background-color: #FFFFFF;
    font-size: 24px;
    padding: 10px 10px 10px 40px;
    border: 0;
  }

.button-back:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #212121;
  background-color: #FFFFFF;
  font-size: 24px;
  padding: 10px 10px 10px 40px;
  border: 0;
  transform: translate(0px, -2px);
}

  .list {
    text-align: center;
    justify-content: center;
    align-content: center;
    border-spacing: 0 30px;
    margin-bottom: 20px;
  }

  .list th {
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .list td {
  }

  .list-see {
    color: #FFFFFF;
    background-color: #376DBE;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }

  .list-edit {
    color: #FFFFFF;
    background-color: #00D6A1;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }

  .list-remove {
    color: #FFFFFF;
    background-color: #DB6257;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 8px;
  }

  .show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show-container-row {
    display: flex;
    flex-direction: row;
    font-size: 18px;

  }

  .show-container-row p {
    margin: 10px 0px;
  }

  .show-container-row-title {
    font-weight: 600;
    text-transform: uppercase;
  }

  .show-container-title {
    display: flex;
    font-size: 24px;
    font-weight: 600;
  }