<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>CMMImplant</title>
        <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-logo">
                    <p>CMMImplant</p>
                </div>
                <div class="navbar-button-active">
                    <span class="material-icons">home</span>
                    <a href="/index">Inicio</a>
                </div>
                <div class="subnav">
                    <span class="material-icons">track_changes</span>
                    <button class="subnavbtn">Seguimiento <i class="fa fa-caret-down>"></i></button>
                    <div class="subnav-content">
                        <a href="/riskAndOpportunity/list">Riesgos y oportunidades</a>
                        <a href="/improvement/list">Mejoras</a>
                        <a href="/lessonLearnt/list">Lecciones aprendidas</a>
                        <a href="/alert/list">Alertas</a>
                    </div>
                </div>
                <div class="subnav">
                    <span class="material-icons">search</span>
                    <button class="subnavbtn">Revisión <i class="fa fa-caret-down>"></i></button>
                    <div class="subnav-content">
                        <a href="/analysis/list">Análisis</a>
                        <a href="/audit/list">Auditoría</a>
                        <a href="/metric/list">Métrica</a>
                    </div>
                </div>
                <div class="subnav">
                    <span class="material-icons">work</span>
                        <button class="subnavbtn">Proyecto <i class="fa fa-caret-down>"></i></button>
                    <div class="subnav-content">
                        <a href="/project/current" sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_PM')">Mi proyecto</a>
                        <a href="/adaptation/list">Adaptaciones</a>
                        <a href="/document/list">Documentos</a>
                        <a href="/reusableObject/list">Objetos reutilizables</a>
                    </div>
                </div>
                <div class="subnav" sec:authorize="hasRole('ROLE_ADMIN')">
                    <span class="material-icons">settings</span>
                    <button class="subnavbtn">Administración <i class="fa fa-caret-down>"></i></button>
                    <div class="subnav-content">
                        <a href="/project/all">Proyectos</a>
                        <a href="/user/list">Usuarios</a>
                    </div>
                </div>
            </div>
            <div class="navbar-right" sec:authorize="isAnonymous()">
                <div class="navbar-register">
                    <span class="material-icons">person</span>
                    <a href="/user/login">Iniciar sesión</a>
                </div>
            </div>
            <div class="navbar-register" sec:authorize="isAuthenticated()">
                    <span class="material-icons">person</span>
                    <a href="javascript: document.logoutForm.submit()" role="menuitem"> Cerrar sesión</a>
            </div>
        </div>
        <div class="content">
            <div class="info-text">
                <p th:text=${index_message}></p>
                <p th:text=${description_message}></p>
                <p th:text=${project_message}></p>
                <p th:text=${conclusion_message}></p>
            </div>
            <form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
                <input hidden type="submit" value="Cerrar sesión"/>
            </form>
        </div>
        <div class="footer">
            <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
        </div>
    </body>
</html>