<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Crear nuevo registro</title>
    <link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <p>CMMImplant</p>
      </div>
      <div class="navbar-button">
        <span class="material-icons">home</span>
        <a href="/index">Inicio</a>
      </div>
      <div class="subnav-active">
        <span class="material-icons">track_changes</span>
        <button class="subnavbtn">Seguimiento <i class="fa fa-caret-down>"></i></button>
        <div class="subnav-content">
          <a href="/riskAndOpportunity/list">Riesgos y oportunidades</a>
          <a href="/improvement/list">Mejoras</a>
          <a href="/lessonLearnt/list">Lecciones aprendidas</a>
          <a href="/alert/list">Alertas</a>
        </div>
      </div>
      <div class="subnav">
        <span class="material-icons">search</span>
        <button class="subnavbtn">Revisión <i class="fa fa-caret-down>"></i></button>
        <div class="subnav-content">
          <a href="/analysis/list">Análisis</a>
          <a href="/audit/list">Auditoría</a>
          <a href="/metric/list">Métrica</a>
        </div>
      </div>
      <div class="subnav">
        <span class="material-icons">work</span>
        <button class="subnavbtn">Proyecto <i class="fa fa-caret-down>"></i></button>
        <div class="subnav-content">
          <a href="/project/current" sec:authorize="hasRole('ROLE_USER') or hasRole('ROLE_PM')">Mi proyecto</a>
          <a href="/adaptation/list">Adaptaciones</a>
          <a href="/document/list">Documentos</a>
          <a href="/reusableObject/list">Objetos reutilizables</a>
        </div>
      </div>
      <div class="subnav" sec:authorize="hasRole('ROLE_ADMIN')">
        <span class="material-icons">settings</span>
        <button class="subnavbtn">Administración <i class="fa fa-caret-down>"></i></button>
        <div class="subnav-content">
          <a href="/project/all">Proyectos</a>
          <a href="/user/list">Usuarios</a>
        </div>
      </div>
    </div>
    <div class="navbar-right" sec:authorize="isAnonymous()">
      <div class="navbar-register">
        <span class="material-icons">person</span>
        <a href="/user/login">Iniciar sesión</a>
      </div>
    </div>
    <div class="navbar-register" sec:authorize="isAuthenticated()">
      <span class="material-icons">person</span>
      <a href="javascript: document.logoutForm.submit()" role="menuitem"> Cerrar sesión</a>
    </div>
  </div>
    <div class="content">
      <button class="button-back" onclick="window.history.back()"><span class="material-icons">arrow_back</span>&nbsp;Volver atrás</button>
      <div class="form-container">
        <form method="POST" class="form-signin" th:object="${result}" th:action="@{/riskAndOpportunity/add}">
          <h2 th:if="${id == null}" class="form-signin-heading">Crear un nuevo registro</h2>
          <h2 th:if="${id != null}" class="form-signin-heading">Editar el registro</h2>
          <input type="hidden" th:field="*{id}" id="id" class="form-control" placeholder="Id"/>
          <input type="hidden" th:field="*{project}" id="project" class="form-control" placeholder="Project"/>
          <input type="hidden" th:field="*{priority}" id="priority" class="form-control" placeholder="Priority"/>
          <div class="form-group">
            <input type="text" th:field="*{identifier}" id="identifier" class="form-control" placeholder="Identificador"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('identifier')}" th:errors="*{identifier}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{type}" class="form-control" placeholder="Tipo de registro">
              <option value="">Tipo de registro</option>
              <option th:value="RISK" th:text="'Riesgo'"></option>
              <option th:value="OPPORTUNITY" th:text="Oportunidad"></option>
              <option th:value="PROBLEM" th:text="Problema"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{category}" class="form-control" placeholder="Categoría">
              <option value="">Categoría</option>
              <option th:value="TECHNOLOGICAL" th:text="Tecnológico"></option>
              <option th:value="CONTRACTUAL" th:text="Contractual"></option>
              <option th:value="MANAGING" th:text="'De Gestion'"></option>
              <option th:value="PROCESS" th:text="'De Proceso'"></option>
              <option th:value="TEMPLATE" th:text="Plantillas"></option>
              <option th:value="OTHER" th:text="Otro"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{title}" id="title" class="form-control" placeholder="Título"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{description}" id="description" class="form-control" placeholder="Descripción"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
          </div>
          <p class="form-date">Fecha de identificación:</p>
          <div class="form-group">
            <input type="date" th:field="*{identificationDate}" class="form-control" placeholder="Fecha de identificación (dd/mm/aaaa)">
            <span class="has-error" th:if="${#fields.hasErrors('identificationDate')}" th:errors="*{identificationDate}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{probability}" class="form-control" placeholder="Probabilidad">
              <option value="">Probabilidad</option>
              <option th:value="HIGH" th:text="'Alta'"></option>
              <option th:value="MID" th:text="Media"></option>
              <option th:value="LOW" th:text="Baja"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('probability')}" th:errors="*{probability}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{impact}" class="form-control" placeholder="Impacto">
              <option value="">Impacto</option>
              <option th:value="HIGH" th:text="'Alta'"></option>
              <option th:value="MID" th:text="Media"></option>
              <option th:value="LOW" th:text="Baja"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('impact')}" th:errors="*{impact}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{threshold}" id="threshold" class="form-control" placeholder="Umbral"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('threshold')}" th:errors="*{threshold}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{consequences}" id="consequences" class="form-control" placeholder="Consecuencias"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('consequences')}" th:errors="*{consequences}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{actionPlan}" id="actionPlan" class="form-control" placeholder="Plan de acción"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('actionPlan')}" th:errors="*{actionPlan}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{status}" class="form-control" placeholder="Estado">
              <option value="">Estado</option>
              <option th:value="OPEN" th:text="'Abierto'"></option>
              <option th:value="CLOSED" th:text="Cerrado"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>
          </div>
          <div class="form-group">
            <select th:field="*{monitorization}" class="form-control" placeholder="Monitorización">
              <option value="">Monitorización</option>
              <option th:value="DAILY" th:text="'Diario'"></option>
              <option th:value="WEEKLY" th:text="Semanal"></option>
              <option th:value="QUINCENAL" th:text="Quincenal"></option>
              <option th:value="MONTHLY" th:text="Mensual"></option>
            </select>
            <span class="has-error" th:if="${#fields.hasErrors('monitorization')}" th:errors="*{monitorization}"></span>
          </div>
          <p class="form-date">Fecha de última revisión:</p>
          <div class="form-group">
            <input type="date" th:field="*{lastRevisionDate}" class="form-control" placeholder="Fecha de última revisión (dd/mm/aaaa)">
            <span class="has-error" th:if="${#fields.hasErrors('lastRevisionDate')}" th:errors="*{lastRevisionDate}"></span>
          </div>
          <p class="form-date">Fecha de cierre:</p>
          <div class="form-group">
            <input type="date" th:field="*{closeDate}" class="form-control" placeholder="Fecha de cierre (dd/mm/aaaa)">
            <span class="has-error" th:if="${#fields.hasErrors('closeDate')}" th:errors="*{closeDate}"></span>
          </div>
          <div class="form-group">
            <input type="text" th:field="*{observations}" id="observations" class="form-control" placeholder="Observaciones"
                   autofocus="true">
            <span class="has-error" th:if="${#fields.hasErrors('observations')}" th:errors="*{observations}"></span>
          </div>
          <button class="button-submit" th:if="${id == null}" type="submit"><span class="material-icons">add</span>&nbsp;Crear</button>
          <button class="button-submit" th:if="${id != null}" type="submit">Editar</button>
        </form>
      </div>
    </div>
  <div class="footer">
    <p>CMMImplant &copy; 2020-2021 Pablo Palma y Javi Toro</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>

  </body>
</html>